.select {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  .MuiSelect-select {
    width: 8rem;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px; 

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
