.game-profile {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 1rem;
    gap: 1.5rem;

    .image-container {
        width: 50%;
        display: flex;
        flex: 1;

        img {
            width: 100%;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 5rem;
        padding-bottom: 2rem;
        gap: 2rem;

        .title-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            .divaider {
                width: 6px;
                height: 3rem;
                background: #79C000 0% 0% no-repeat padding-box;
                border-radius: 4px;
            }

            .title {
                letter-spacing: 0.44px;
                color: #79C000;
                font-size: 2rem;
            }
        }

        .description {
            letter-spacing: 0.28px;
            color: #EFEFEF;
            font-size: 1.5rem;
        }

        .button {
            width: 16rem;
            padding: 0.5rem;
            border: 4px solid #79C000;
            color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;

            img {
                height: 100%;
            }
        }
    }

    &.image-right {
        flex-direction: row-reverse;
    }

    &.image-left {
        flex-direction: row;
    }
}