.game-profile {
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 1rem;
    gap: 1.5rem;

    .image-container {
        width: 50%;
        display: flex;
        flex: 1;

        img {
            width: 100%;
            object-fit: fill;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-top: 5rem;
        padding-bottom: 2rem;
        gap: 2rem;

        .title-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: unset;
            }

            .divaider {
                width: 6px;
                height: 3rem;
                background: #79C000 0% 0% no-repeat padding-box;
                border-radius: 4px;
            }

            .dots {
                text-align: center;
                font: normal normal normal 42px/32px Rockwell;
                letter-spacing: 0.42px;
                color: #79C000;
            }

            .title {
                letter-spacing: 0.44px;
                color: #79C000;
                font-size: 2rem;
            }
        }

        .description {
            letter-spacing: 0.28px;
            color: #EFEFEF;
            font-size: 1.5rem;
        }

        .button {
            width: 16rem;
            padding: 0.5rem;
            border: 4px solid #79C000;
            color: white;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;

            img {
                height: 100%;
            }
        }

        .icons-container {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 1rem;
            flex-wrap: wrap;

            .icon-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 5px;

                img {
                    width: 46px;
                    height: auto;
                }

                .icon-name {
                    margin-top: 5px;
                    text-align: center;
                    color: #EFEFEF;
                    font-size: 10px;
                }
            }
        }
    }

    &.image-right {
        flex-direction: row-reverse;
    }

    &.image-left {
        flex-direction: row;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .image-container,
        .text-container {
            width: 100%;
        }

        .image-container img {
            border-radius: 20px;
        }

        .text-container {
            padding-top: unset;
            align-items: center;

            .title-container .title {
                font-size: 1.7rem;
                text-align: center;
            }

            .description {
                font-size: 1.2rem;
                text-align: center;
            }

            .button {
                width: 50%;
                font-size: 1.2rem;
            }
        }

        &.image-right,
        &.image-left {
            flex-direction: column;
        }
    }
}