.header {
  background-color: #79C000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 8rem;
    height: auto;
  }

  .jackpots-container {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      display: none;
    }

    div {
      font: normal normal bold 24px/32px Roboto;
      color: #333F48;
    }
  }

  .acceder {
    padding: 10px;
    border: 2px solid #333F48;
    border-radius: 25px;
    letter-spacing: 0.22px;
    color: #333F48;
    cursor: pointer;
  }

  .menu-icon {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-right: 8px;
      font-size: 3rem;
      color: #252A30;
    }
  }
}